
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif";
  margin: 0;
}

@mixin center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin logo {
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    h1 {
      display: inline-block;
      border-bottom: 6px solid #E03131;
      margin: 0;
      font-size: 40px
    }
  }
}

@mixin description {
  @include logo;

  &__list {

    li {
      display: flex;
          
      .item-name {
        border-bottom: 1px dotted #000;
        width: 341px;
        font-size: 14px;
      }

      .item-price {
        padding: 3px 0 0 16px;
        font-size: 14px;
      }
    }
  }
}

//header
.header {
  background-image: url(./img/mainvisual.jpg);
  background-size: 100%;
  height: 600px;
  margin-bottom: 20px;
  position: relative;

  &__header-list {
    display: flex;
    justify-content: flex-end;
    padding: 16px 39px;
    margin: 0;
    
    li {
      
      a {
        margin: 0 12px;
        color: #fff;
        font-weight: bold;
        text-shadow:  1px 1px 2px #121212;
      }
    }
  }

  &__header-logo {
    position: absolute;
    @include center-logo;

    h1 {
      color: #fff; 
      font-size: 115px;
      
    }
  }
}

//main menu
.menu {
  background: url(./img/menu.jpg);
  background-size: 100%;
  background-attachment: fixed;
  
  &__logo {
    height: 300px;
    position: relative;

    h1 {
      color: #fff;
      @include center-logo;
      margin: 0;
      font-size: 72px;
    }
  }

  &__wrapper {
    background-color: #fff;
    padding: 90px 0 150px 0;

    .descriptions {
      display: flex;
      max-width: 1000px;
      margin: 0 auto;

      .coffee {
      border-right: 1px solid #000;
      @include description;
      width: 50%;
      }
    
      .others {
        width: 50%;
        
        .food {
          @include description;
          margin-bottom: 97px;
        }
        .other {
          @include description;   
        }
      }
    }
  } 
}

//main about
.about {
  background: url(./img/about.jpg);
  background-size: 100%;
  background-attachment: fixed;
  
  &__logo {
    height: 300px;
    position: relative;

    h1 {
      color: #fff;
      @include center-logo;
      margin: 0 0 87px 0;
      font-size: 72px;
    }
  }

  .wrapper {
    background-color: #fff;
    padding: 83px 0 150px 0;
    @include logo;
    

    &__descriptions {
      padding: 0;
      max-width: 1000px;
      margin: 87px auto 0 auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        li {
          width: 437px;
          height: 136px;
          padding-bottom: 40px;
          
          p {
            font-size: 15px;
          } 
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 50px;
     
      margin: 51px auto 0 auto;
      position: relative;

      .border {
        position: absolute;
        background: none;
        transition: all .5s ease-in-out;

      }
      
      .border:nth-of-type(1){
        bottom: 0;
        right: 0;
        border-right: 1px solid red;
        border-bottom: 1px solid red;
        width:30px;
        height:30px;
      }

      .border:nth-of-type(2){
        top:0;
        left:0;
        border-left:1px solid red;
        border-top:1px solid red;
        width:30px;
        height:30px;
      }

      &:hover .border {
        width:100%;
        height:100%;
      }
    
    
      a {
        padding: 15px 42px;
        font-size: 14px;
        
      }
    }
  }
}

//main location
.location {
  background: url(./img/about.jpg);
  background-size: 100%;
  background-attachment: fixed;

  &__logo {
    height: 300px;
    position: relative;

    h1 {
      color: #fff;
      @include center-logo;
      margin: 0;
      font-size: 72px;

    }
  }

  .wrapper {
    background-color: #fff;
    padding: 90px 0 150px 0;

    &__logo {
      display: flex;
      justify-content: center;
  
      h1 {
        display: inline-block;
        border-bottom: 6px solid #E03131;
        margin: 0;
        font-size: 40px;
        padding-bottom: 17px;
      }
    }
    
    
    &__map {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 73px auto 0 auto;
      
      iframe {
        width: 100%;
        
      }
    }

    .location__details {
      max-width: 1000px;
      width: 95%;
      margin: 0 auto;
    }
  }
}

//footer
footer {
  .wrapper {
    display: flex;
    justify-content: center;
    p {
      font-size: 10px;

    }
  }
}

@media  screen and (max-width:400px) {
  .header {
    width: 100%;

    &__header-logo {
      h1 {
        font-size: 85px;
      }
    }
  }

  .menu {

    &__wrapper {

      .descriptions {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .coffee {
          border-right: none;
          width: 100%;
          ul {
            padding: 0 16px;
          }
        
        }
        .others {
          width: 100%;
          
          .food {
            ul {
              padding: 0 16px;
            }
            
          }
          .other {
            ul {
              padding: 0 16px;
            }
            
          }
        }
      }
    }
  }

  .about {
    .wrapper {
      ul {
        justify-content: center;
      }
    } 
  }
}
